/*these are just global settings for this preview, you shouldnt need to use these in your WP build*/

.body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/*this is the class for the div that is holding the three elements*/
.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 50vh;
  justify-content: center;
}

/*these rules are applied to all three sections so I'm targetting them all at once to reduce the amount of code*/
.section1,
.section2,
.section3 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  transform: skewX(-3deg);
}



/*you can add your desired styling to each section here*/
.section1 {
  /* background-color: red; */
  background-image: url(bike1.jpg);
    background-size: cover;
    background-position: center;
    background-transform: skewX(3deg);
}

.section2 {
    background-image: url(bike2.jpg);
    background-size: cover;
    background-position: center;
}

.section3 {
    background-image: url(bike3.jpg);
    background-size: cover;
    background-position: center;
}

/*each section contains another div to hold the content, 
we are counteracting the skew on the parent div by skewing 
the child div in the opposite direction and also applying a 
responsive margin to the content to stop it from cramping against the edge of the section   */
.sectionContent {
  margin: 0.5rem;
  transform: skewX(3deg);
  text-align: center;
  color: white;
}

.sectionContent > p {
  display: none;
}

/*this handles the grow effect on hover*/
.section1:hover,
.section2:hover,
.section3:hover {

  flex: 10;
  filter: grayscale(100%);
  
  transition: 0.3s ease-in-out;

}

/*this is the blur effect on hover*/
.container:hover .section1:not(:hover),
.container:hover .section2:not(:hover),
.container:hover .section3:not(:hover) {
  filter: blur(2.5px);
  
}

/* Make paragraphs visible when the section is hovered */
.section1:hover .sectionContent > p,
.section2:hover .sectionContent > p,
.section3:hover .sectionContent > p {
  display: block;
}

/* Make paragraphs visible when the section is hovered */
.section1:hover .sectionContent,
.section2:hover .sectionContent,
.section3:hover .sectionContent {
  backdrop-filter: blur(5px);
}
